html, body {
  background-color: #FAFAFA;
}

colgroup, tbody { border: solid medium; }

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

input.grid-cell {
  color: #000000;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #FFFFFF;
  outline: none;
}

input.has-value {
  background-color: #EEEEEE;
}

.sudoku-grid {
  border: solid;
  border-collapse: collapse;
}

#solve-button {
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
  top: 15px;
  left: 185px;
  width: 100px;
  height: 45px;
	padding: .8em 1.4em;
	padding-right: 4.7em;
	background: #009ED8;
	border: none;
	color: white;
	transition: .2s;
	&:before,
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 2.8em;
		content: "\00a0";
		font-family: 'FontAwesome', sans-serif;
		font-size: 1.2em;
		text-align: center;

		transition: .2s;
		transform-origin: 50% 60%;
	}
	&:before {
		background: #303036;
	}
	&:hover {
		background: darken(#009ED8, 10%);
	}
	&:active,
	&:focus {
		background: darken(#009ED8, 30%);
		outline: none;
	}
}

.button {
	min-width: 15em;
}
