h1 {
  font-family: 'Pacifico', cursive;
}

html, body {
  background-color: #FAFAFA;
}

colgroup, tbody { border: solid medium; }

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

input.grid-cell {
  color: #000000;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #FFFFFF;
  outline: none;
}

input.has-value {
  background-color: #bfbfbf;
}

.sudoku-grid {
  border: solid;
  border-collapse: collapse;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

#solve-button
{
  position: relative;
  top: 15px;
  left: 185px;
  width: 87px;
  height: 41px;
  padding: 6px 14px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  outline: none;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
  background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
